body {
  background-color: #eef6ff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2c3e50;
}

p {
  color: #555;
  font-size: 16px;
}

img {
  width: 250px;
  border-radius: 12px;
  margin: 20px 0;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 16px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}
ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
}

li {
  width: 100%;
  margin: 8px 0;
}
